@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@plugin "tailwind-scrollbar";

@layer base {
  *,
  *::after,
  *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  * {
    font-size: initial;
  }
  html {
    height: 100%;
    min-height: 100%;
    scroll-behavior: smooth;
  }

  a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    display: block;
  }
  ul {
    list-style: none;
  }
  button {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
  }
  img {
    display: block;
    width: 100%;
  }
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
  body {
    height: 100%;
    min-height: 100%;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    @apply font-DM;
    @apply bg-Neutral-900;
  }
  #root {
    height: 100%;
  }
}

@theme {
  /* --breakpoint-desktop: 375px; */
  --color-Neutral-900: hsl(243, 96%, 9%);
  --color-Neutral-800: hsl(243, 27%, 20%);
  --color-Neutral-700: hsl(243, 23%, 24%);
  --color-Neutral-600: hsl(243, 23%, 30%);
  --color-Neutral-300: hsl(240, 6%, 70%);
  --color-Neutral-200: hsl(250, 6%, 84%);
  --color-Neutral-0: hsl(0, 0%, 100%);
  --color-Orange-500: hsl(28, 100%, 52%);
  --color-Blue-500: hsl(233, 67%, 56%);
  --color-Blue-700: hsl(248, 70%, 36%);

  --font-DM: "DM Sans";
  --font-BG: "Bricolage Grotesque";
}

@layer utilities {
  .container {
    @apply container mx-auto p-1;
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .flex-center-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .flex-between-col {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .flex-start-col {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .flex-between-start {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .grid-dynamic-120 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(120px, 100%), 1fr));
  }
  .grid-dynamic-150 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(150px, 100%), 1fr));
  }
  .grid-dynamic-200 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
  }
  .grid-dynamic-250 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
  }
  .grid-dynamic-300 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
  }
  .grid-dynamic-350 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
  }
  .grid-dynamic-400 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
  }
  .grid-dynamic-500 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(500px, 100%), 1fr));
  }
  .grid-dynamic-550 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(550px, 100%), 1fr));
  }
  .grid-dynamic-600 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(600px, 100%), 1fr));
  }
  .grid-dynamic-650 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(650px, 100%), 1fr));
  }
}

@layer components {
  .btn-neutral {
    @apply px-4 py-2 text-Neutral-200 rounded-lg bg-Neutral-700 hover:bg-Neutral-600 focus:outline focus:outline-Neutral-0 focus:outline-offset-2;
  }
}
